* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  z-index: 1;
}

.main {
  position: relative;
  top: 100px;
}
