* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  height: 100vh;
}

/*MAIN*/

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}

.title {
  color: #cc212a;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*FOOTER*/

.footer {
  position: fixed;
  display: inline-block;
  width: 100%;
  bottom: 0;
  border-top: 3px solid #cc212a;
  height: 20vh;
}

.logo {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.logo-item {
  width: 50px;
  height: 50px;
  background-color: #cc212a;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transform: translate(0, -50%);
}

.small {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(2vh);
}

@media all and (min-width: 768px) {
  .footer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
