.days {
  font-style: arial;
  font-size: 30px;
  background-color: rgb(9, 250, 230);
  color: rgb(253, 0, 156);
}
.food {
  font-style: arial;
  font-size: 18px;
  background-color: rgb(9, 250, 230);
  color: rgb(253, 0, 156);
}
